<h3>About</h3>

<p>
    Inspired by Metacarta's Map Rectifier, this is an open source map warping / geo rectifying service,
    written in Ruby and Rails. It has been customised with the OpenStreetMap project in mind.
    It's MIT licenced, so you can play with it if you want too!.
</p>
